
#header {
    background: #252e30;
}

#header logo {
    padding-top: 5px;
    width: 200px;
}

#header .menu {
    height: 70px;
}

#header .menu ul {
    float: right;
    background: #252e30;
}

#header .menu ul li {
    display: inline;
}

#header .menu ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    transition: .8s;
    padding: 0px 15px;
    font-size: 20px;
    line-height: 70px;
}

#header .menu ul li a:hover {
    color: #2ecc71;
    text-decoration-style: solid;
}

#header .menu ul li .dropdown-menu a {
    background: #252e30;
}

.footer {
    background: #191f21;
    color: #4b5456;
    text-align: center;
}

.footer p {
    margin-top: 40px;
    margin-bottom: 20px;
    
}

.footer .sites {
    margin-bottom: 50px;
}

.footer .sites ul {}

.footer .sites ul li {
    background: #4b5456;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    border-radius: 50%;
    
}

.footer .sites ul li a {
    text-decoration: none;
    display: inline-block;
    color: #191f21;
    transition: .8s;
    font-size: 25px;
}

.footer .sites ul li a:hover {
    color: #ffffff;
    text-decoration-style: solid;
}

