  body {
      position: relative;
  }
body h1{
    text-align: center;
}
  ul.nav-pills {
     // top: 20px;
      position: fixed;
  }
div .col-sm-2{
    z-index: 1000;
}
  div.col-sm-8 div {
      
  }
  @media screen and (max-width: 810px) {
    #Transaction, #Recharges{
        margin-left: 150px;
    }
  }