body {
    background-image: url("img/bg.jpg");
    background-color: #115511;
    background-size: 100%;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

panel-body {
    background: #2ecc71;
    padding: 20px;
    box-shadow: -5px -6px 5px 5px #000000;
}
h4{
     font-size: 2vw;
}

.panel-primary>.panel-heading {
    background-color: #2ecc71;
    font-weight: 900;
}

.panel-body .btn-primary {
    background-color: #2ecc71;
    font-weight: 800;
}

.loginform {

    background: rgba(255, 255, 255, .7);
    /* opacity: .6; */
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 20px;
    box-shadow: -5px -6px 5px 5px #000000;
}
